body{
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    font-family: sans-serif;
}

.header{
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
    color: white;
    padding: 70px 0;
    font-weight: 700;
    margin: 150px 0;
}

.maincontent{
    background-color: white;
    padding: 70px 150px;
    font-size: 25px;
    opacity: 0.9;
}

/* styles fot the image slider section */
.movies {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.movies-category {
  padding: 0 10vw;
  font-size: 50px;
  margin: 40px;
  margin-left: 0px;
  color: #579BB1;
  text-transform: capitalize;
  font-weight: 700;
}
.movies-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.movies-container::-webkit-scrollbar {
  display: none;
}

.movies-card {
  flex: 0 0 auto;
  width: 210px;
  height: 500px;
  margin-right: 40px;
}

.movies-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
  font-size: 15px;
}

.movies-card:hover .card-btn {
  opacity: 1;
}

.movies-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 15px;
}

.movies-brand {
  text-transform: uppercase;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.star{
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

/* style for the select box section */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0!important;
  background: #2f3640;
  background-image: none;
  flex: 1;
  padding: 0 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 500px;
  height: 60px;
  line-height: 3;
  background: #5c6664;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 130px;
  padding-left: 10px;
}
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #2b2e2e;
  cursor:pointer;
  pointer-events:none;
  transition:.25s all ease;
}
.select:hover::after {
  color: #f5f6fa;
}
option{
  overflow: auto;
}
.btn {
  background-color: transparent;
  border: 1px solid #2b2e2e;
  color: #2b2e2e;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  align-self: center;
  margin: auto;
  margin-left: 10px;
  height: 60px;
  font-size: 20px;
}
.btn:hover {
  background-color: #2b2e2e;
  color: #fff;
}
.box{
  float: left
}